<a href="https://colab.research.google.com/github/ISosaLopezJuliol/edd_1310_2021/blob/master/1deoctubre1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## intro python 3
### variables
tipo dinamico

In [14]:
escuela = "Fes Aragon"
print (escuela)
print ("---------")
edad = 13
estatura = 1.64
fumador = True
nombre = "jose"
frase = """Esta es una frase de multiples lineas y tambien es un tipo dato"""
print (frase)
nombre_completo="jose sosa cardenas "

Fes Aragon
---------
Esta es una frase de multiples lineas y tambien es un tipo dato

#print
con comas, 
con signo de mas+
con formato ()
con el operador f""

In [10]:
print (nombre,edad)

jose 13

In [15]:
# + concatena
print(nombre + str(edad))
print(nombre + nombre_completo)

jose13
josejose sosa cardenas

In [19]:
# con formato = su nombre es jose y su edad es de 13 años.
print("su nombre es",nombre,"y su edad es de",edad,"años")
print("su nombre es {0} y su edad es de {1} años.".format(nombre,edad))
print("su nombre es {1} y su edad es de {0} años.".format(nombre,edad))

su nombre es jose y su edad es de 13 años
su nombre es jose y su edad es de 13 años.
su nombre es 13 y su edad es de jose años.

In [17]:
#con formato con el operador con fotmato f""
print(f"su nombre es {nombre} y su edad es de {edad} años.")

su nombre es (nombre) y su edad es de (edad) años.

#caracter estacape
  
  \n salto de linea

  \t tabulador

  \a beep
  
  "imprimir comilla doble

In [46]:
"""
esto es un comentario de multiple linea
"""
print(f"\tMi nombre es\n\t\t {nombre}")

	Mi nombre es
		 jose

#ayuda  de tipo de dato python 
dir() help

In [ ]:
# str, int, float, bool . . . list, dict, set
help(str)

In [20]:
print(nombre_completo.capitalize())
print(nombre_completo.upper() , end="-----")
print(nombre_completo.title())

Jose sosa cardenas
JOSE SOSA CARDENAS -----Jose Sosa Cardenas

In [ ]:
help(print)

# Clase string
es manejado como un arreglo (c o java) o lista (python)


"telefono = "huawei mate 30 pro"

In [21]:
telefono = "huawei mate 30 pro"
print(telefono[5])

i

#slicing (rebanada)

[ int : stop : incremento] nota : el stop no se incluye, termina en el valor anterior al stop

In [31]:
print(telefono[7:11:1])
# el inicio y el incremento son opcionales
print(telefono[:11:])
# el valor por defecto de stop es len (str)
print(telefono[::-1])
#
print(telefono[-3::1])
#slacing negativo
ini = -3
inc = 1
print(telefono[ini::inc])

mate
huawei mate
orp 03 etam iewauh
pro
pro

#funciones de string
Existen metodos muy utiles en esta clase.

In [54]:
facultad="    facultad de estudios superiores aragon      \n"
print(facultad.count("")) #cuenta el numero de elementos en la cadena 
print(facultad.find("s")) # te da el lugar del elemento
print(facultad.index("s")) #indice de la primera coincidencia parecido al find
print(facultad.strip()) #quita los espacios en linea 
tamaño= len(facultad)
print(len(facultad)) #el "len" regresa la longitud del string
print(f"tamaño de la cadena es {tamaño} caracteres")
print(facultad.split("u")) # corta el elemento elegido
print(facultad)
print(facultad.strip(" "))
print(facultad.strip().split(" ") ) # quita los espacios 

print("------------------")
#copiar cadenas 
otra_cadena = facultad
print(otra_cadena)
facultad="Fes Aragón"
print(facultad)
print(otra_cadena)

# copiar listas
colores = ["rojo","verde"]
otra = colores
print(colores)
print(otra)
otra.append("rosa")
print(colores)
print(otra)

50
17
17
facultad de estudios superiores aragon
49
tamaño de la cadena es 49 caracteres
['    fac', 'ltad de est', 'dios s', 'periores aragon      \n']
    facultad de estudios superiores aragon

facultad de estudios superiores aragon

['facultad', 'de', 'estudios', 'superiores', 'aragon']
------------------
    facultad de estudios superiores aragon

Fes Aragón
    facultad de estudios superiores aragon

['rojo', 'verde']
['rojo', 'verde']
['rojo', 'verde', 'rosa']
['rojo', 'verde', 'rosa']