<a href="https://colab.research.google.com/github/ISosaLopezJuliol/edd_1310_2021/blob/master/Martes6de0ctubre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#string continuacion
numeros_txt="    1, 2, 3, 4    , 5  , 35  , 15  , 12"
print(numeros_txt)
numeros_txt = numeros_txt.lstrip().split(',')
print(numeros_txt)

for j in range(len(numeros_txt)):
  numeros_txt[j] = int(numeros_txt[j].strip())
print(numeros_txt)


#funcion Range()

#range(inicio, stop, incremento)
print(range(1,10,3))
rango = range(1,10,2)

for x in rango:
  print(x)
rango = range(10)
for x in rango:
  print(x)

    1, 2, 3, 4    , 5  , 35  , 15  , 12
['1', ' 2', ' 3', ' 4    ', ' 5  ', ' 35  ', ' 15  ', ' 12']
[1, 2, 3, 4, 5, 35, 15, 12]
range(1, 10, 3)
1
3
5
7
9
0
1
2
3
4
5
6
7
8
9

# listas
- mutables
- se declaran con []
- selector [ int ]


# tuplas
- NO mutables 
- se declara con ()
- selector [ int ]

#diccionarios 
- Mutables
- son conjuntos para llave:valor
- equivalentes a los objetos JSON de JavaScript

# conjuntos
-representacion de la teoria de conjuntos

In [34]:
#Listas (equivalente a arreglos en otros lenguajes de prog)

frutas = ["Pera" , "Manzana" , "Fresa" , "Kiwi" , "Naranja"]
print(frutas)
cosas = ["cuaderno" , 2 , 3.1416 , True , False , ["rojo" , 'Azul']]
print(cosas)
frutas[2] = "Fresas"  #frutas[2] = frutas[2].capitalize()
print(frutas)

#agregar a listas

frutas.append("Aguacate") #agrega al final
print(frutas)
frutas.insert(2, "Sandia") #eliges donde insertar el elemento
print(frutas)

#concatenar listas

fecha = ['06' , '10' , '2020']  # 06/10/2020 para hacer esto ocupas un join
print(fecha)
fecha_str = "/".join(fecha)
print(fecha_str)

['Pera', 'Manzana', 'Fresa', 'Kiwi', 'Naranja']
['cuaderno', 2, 3.1416, True, False, ['rojo', 'Azul']]
['Pera', 'Manzana', 'Fresas', 'Kiwi', 'Naranja']
['Pera', 'Manzana', 'Fresas', 'Kiwi', 'Naranja', 'Aguacate']
['Pera', 'Manzana', 'Sandia', 'Fresas', 'Kiwi', 'Naranja', 'Aguacate']
['06', '10', '2020']
06/10/2020

In [33]:
#eliminar elementos 
cosas = ["cuaderno" , 2 , 3.1416 , True , False , ["rojo" , 'Azul']]
print(cosas)
cosas.append('libro')
cosas.append('Lapiz')
print(cosas)
algo = cosas.pop() # (remueve y regresa)) por eso se ocupa el valor algo para almacenarlo ah√≠
print(cosas)
print(algo)
algo = cosas.pop(2)
print(cosas)
print(algo)
cosas.remove(2) # solo remueve el valor eleguido
print(cosas)

#vaciar una lista

#cosas.clear() limpia la lista
print(cosas)


#ordenar
print(frutas)
frutas.sort()
print(frutas)

['cuaderno', 2, 3.1416, True, False, ['rojo', 'Azul']]
['cuaderno', 2, 3.1416, True, False, ['rojo', 'Azul'], 'libro', 'Lapiz']
['cuaderno', 2, 3.1416, True, False, ['rojo', 'Azul'], 'libro']
Lapiz
['cuaderno', 2, True, False, ['rojo', 'Azul'], 'libro']
3.1416
['cuaderno', True, False, ['rojo', 'Azul'], 'libro']
['cuaderno', True, False, ['rojo', 'Azul'], 'libro']
['Pera', 'Manzana', 'Sandia', 'fresa', 'Kiwi', 'Naranja', 'Aguacate']
['Aguacate', 'Kiwi', 'Manzana', 'Naranja', 'Pera', 'Sandia', 'fresa']

In [43]:
# slicing solo regresa, no modifica

cosas = ["cuaderno" , 2 , 3.1416 , True , False , ["rojo" , 'Azul']]
print(cosas[3:5:1])
print(cosas)
print(cosas[0][3:5:1])

numeros = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
print(numeros[7:12:1])

#sustituir rebanadas -2,-2 

numeros[7:12:] = [-2,-2]
print(numeros)

# preguntar por si existe un valor especifico

print("cuaderno" in cosas)
print(0 in numeros)

[True, False]
['cuaderno', 2, 3.1416, True, False, ['rojo', 'Azul']]
de
[8, 9, 10, 11, 12]
[1, 2, 3, 4, 5, 6, 7, -2, -2, 13, 14, 15]
True
False

# listas mulidimencion

listas dentro de listas

In [68]:
computadoras = ['HP' , 'Mac Book Pro 17' , 'Mate Book' , "Lenovo leguion"]
oss = ["Windows 10" , "Linux" , 'Android' , 'iOS']

computo = [computadoras , oss]
print(computo[0])
print(computo[1])
print(computo[0][2])
print(computo[0][2][0:5])
print(computo[0][3][5: :-1])
print(computo[0][3][-9:-12:-1])
print("Linux" in computo[1])
dbms = [ ["Mysql" , "Open Source" , False ], ["Ms SQL Server" , "de paga" , True] ]
computo.append(dbms)
print(computo)
print(computo[2][1][1])

['HP', 'Mac Book Pro 17', 'Mate Book', 'Lenovo leguion']
['Windows 10', 'Linux', 'Android', 'iOS']
Mate Book
Mate
ovoneL
ovo
True
[['HP', 'Mac Book Pro 17', 'Mate Book', 'Lenovo leguion'], ['Windows 10', 'Linux', 'Android', 'iOS'], [['Mysql', 'Open Source', False], ['Ms SQL Server', 'de paga', True]]]
de paga